#comp-card-paises {
    .comp-card-paises {
        background-color: var(--cards);
        width: 275px;
        height: 350px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 5px var(--shadow);
        text-decoration: none;

        img {
            width: 100%;
            max-height: 205px;
        }

        .texto {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px 25px;
            color: var(--font);

            h2 {
                font-size: 24px;
                margin-bottom: 8px;
            }
            
            p {
                font-size: 18px;
                font-weight: 600;

                span {
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #comp-card-paises {
        .comp-card-paises {
            width: 350px;
            height: 400px;

            img {
                max-height: 245px;
            }
        }
    }
}

@media (max-width: 375px) {
    #comp-card-paises {
        .comp-card-paises {
            width: 330px;
            height: 380px;
        }
        
        img {
            max-height: 225px;
        }
    }
}