#comp-cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color: var(--background);
    color: var(--font);
    box-shadow: 0 1px 8px var(--shadow);

    h1 {
        font-size: 25px;
    }

    .change-mode {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {
    #comp-cabecalho {
        padding: 15px 25px;
    }
}

@media (max-width: 400px) {
    #comp-cabecalho {
        padding: 10px 15px;
    }
}