#landing-page {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    .pesquisa {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 30px 65px;

        .barra {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: var(--input);
            padding: 5px 10px;
            width: 350px;
            box-shadow: 0 1px 5px var(--shadow);

            .barra-icone {
                font-size: 20px;
                color: var(--font);
            }

            input {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 15px;
                padding: 5px;
                color: var(--font);
            }

            .sugestoes {
                position: absolute;
                top: 45px;
                left: 0px;
                width: 350px;
                background-color: var(--background);
                box-shadow: 0 1px 5px var(--shadow);

                .sugestao {
                    padding: 5px;
                    margin: 5px;
                    transition: 0.2s;
                    color: var(--font);
                    cursor: pointer;
                }

                .sugestao:hover {
                    background-color: var(--shadow);
                }
            }
        }

        .filtro {
            select {
                padding: 10px 5px;
                font-size: 15px;
                border-radius: 5px;
                outline: none;
                background-color: var(--background);
                color: var(--font);
            }
        }
    }

    .paises {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 35px;
    }
}

@media (max-width: 1225px) {
    #landing-page {
        .paises {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 1024px) {
    #landing-page {
        .paises {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 768px) {
    #landing-page {
        .pesquisa {
            flex-direction: column;
            gap: 20px;

            .barra {
                width: 360px;

                .sugestoes {
                    width: 360px;
                }
            }

            .filtro {
                select {
                    width: 200px;
                }
            }
        }

        .paises {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 375px) {
    #landing-page {
        .pesquisa {
            .barra {
                width: 325px;

                .sugestoes {
                    width: 325px;
                }
            }
        }
    }
}